

#card {
    height: 400px;
    width: 30%;
    border: 1px solid #2D3748;
    margin: 10rem auto;
    position: relative;
    

    #title {
        padding: 20px;
        background-color: #2D3748;
        margin-bottom: 10px;
    }

    form {
        padding: 0 2rem;

        section .section-heading {
            margin: 0;
            padding: 0;
        }

        #role-sect .radio-group {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-around;
            padding: 0;
        }

        .bottom {
            display: flex;
            justify-content: right;
            position: absolute;
            bottom: 0px;
            right: 0px;

            button {
                border-radius: 50px;
                width: 10rem;
                padding: 10px;

                &.primary {
                    background-color: #FFF;
                    font-weight: 600;

                }

                &.secondary {
                    background-color: #2D3748;
                    color: #FFF;

                }
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        input {
            padding: 5px;
            border-radius: 30px;
        }

        select {
            border-radius: 30px;
            padding: 5px;
            width: 5rem;

            option {
                font-size: 2rem;
            }
        }
    }
}