nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    padding: 0 15px 0 0;
    width: 100%;
    .left .logo {
        width: 150px;
    }

    .right {
        min-width: 15%;

        .nav-list {
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: aliceblue;
                }

                a:hover {
                    color: rgb(23, 163, 210);
                }
            }
        }
    }
}