.box {
    margin: 5rem 0;
    &.carousel {
        display: flex;
        justify-content: space-around;
    }

    &.banner {
        display: flex;
        justify-content: space-evenly;

        section {
            .heading {
                font-size: 42px;

                .heading-sub {
                    color: yellow;
                }
            }

            .svg {
                width: 30rem;
            }
        }

        .btn-main {
            border-radius: 30px;
            background-color: #88C2E7;
            font-size: 20px;
            padding: 5px 7px;
            width: 10rem;
            height: 3rem;
        }
    }
}